.city-list {
  border-radius: 12px;
  margin: 1rem auto;
  padding: 1rem;
  background-color: var(--clr-card-bg);
  backdrop-filter: blur(2px);
  color: var(--clr-white);
  box-shadow: var(--shadow-medium);
  width: min(50vw, 400px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.list-title {
  font-size: var(--fs-32);
  font-weight: var(--fw-bold);
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding-bottom: 0.5rem;
  text-align: center;
}

.list-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 0.75rem;
}

.list-item {
  border: 1px solid var(--clr-card-bg);
  border-radius: 10px;
  padding: 1rem;
}

.list-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fs-16);
}

.list-name {
  font-weight: var(--fw-bold);
  flex: 1;
}

.list-temp{
  font-weight: var(--fw-bold);
  margin: 0 1rem;
}

.list-weather {
  font-style: italic;
}

