.list-title {
  font-size: var(--fs-24);
  font-weight: var(--fw-bold);
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding-bottom: 0.5rem;
  text-align: center;
}

.list-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 0.75rem;
}

.list-item {
  background-color: var(--clr-card-bg);
  border: 1px solid var(--clr-card-bg);
  border-radius: 10px;
  padding: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.list-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--clr-white);
  font-size: var(--fs-20);
}

.list-name {
  font-weight: var(--fw-regular);
  flex: 1;
}

.list-temp{
  font-weight: var(--fw-bold);
  margin: 0 1rem;
}

.list-weather {
  font-style: italic;
}
