@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* colors */
  --clr-white: aliceblue;
  --clr-white-70: hsla(0, 0%, 100%, 0.7);
  --clr-error: hsl(359, 87%, 39%);
  --clr-error-bg: hsla(0, 100%, 50%, 0.1);
  --clr-app-bg: hsla(0, 0%, 0%, 0.4);
  --clr-card-bg: hsla(0, 0%, 100%, 0.15);

  /* font size */
  --fs-16: clamp(0.8rem, 0.3239rem + 0.7512vw, 1rem);
  --fs-24: clamp(1rem, 0.8239rem + 0.7512vw, 1.5rem);
  --fs-32: clamp(1.5rem, 1.3239rem + 0.7512vw, 2rem);

  /* font weight */
  --fw-regular: 300;
  --fw-bold: 500;

  /* font family */
  --ff-poppins: "Poppins", system-ui, sans-serif;

  /* box shadow */
  --shadow--medium: 0 8px 20px rgba(0, 0, 0, 0.3);

}
